.button {
    height:40px;
    width:120px;
    color:#ffffff;
    background-color:blueviolet;
    font-size:20px;
    
}
.label {
   /* background-color: aquamarine;*/
    color: black;
    font-family:monospace;
    font-size: large;
    text-align:center;
}
.div {
    background-color: #38a3be;
    font-family:monospace;
    font-size: 24pt;
    /* text-align:center; */
    /*margin-left: 397px;*/
    width: 840px;
    color: black;
    margin:auto;
    position:relative;
    top: 0px;
    left: 0px;
}
.label2{
    color:white;
    font-family:monospace;
    font-size:25px;
}
.h1{
    text-align:center;
    font-family:monospace;
    font-size:50px;
}
.div1 {
    background-color: #38a3be;
    font-family: monospace;
    font-size: 24pt;
    /* text-align:center; */
    /*margin-left: 397px;*/
    width: 840px;
    color: black;
    margin: auto;
    position: relative;
    top: 20px;
    left: 0px;
}
.div2 {
    background-color: #38a3be;
    font-family: monospace;
    font-size: 24pt;
    color: black;
    margin: auto;
    position: relative;
}
.txt{
    color:white;
}